{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="bg-light py-3 px-3 form-group">
                <h1>Connectez vous!</h1>
                {% if haserror %}
                    <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou
                    le mot de passe est invalide!</div>
                {%  endif %}
                <form action="{{path('compte_login')}}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="_username" id="email" class="form-control" value="{{username}}" placeholder="Adresse email ..." required>
                    </div>
                    <div class="form-group" class="col-sm-2 col-form-label">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe ..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Connexion</button>
                    </div>
                    <div class="form-group">
                    <legend>Vous n'avez pas encore un compte ?</legend>
                    <a href="{{path('compte_register')}}" class="btn btn-primary">Créez-le!</a>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
   
{% endblock %}