{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<h1>Modifier le Ticket N°{{ticket.id}}</h1>
{{form_start(form)}}
{{form_widget(form)}}
<a ><button type="submit" class="btn btn-primary">Modifier</button>
{{form_end(form)}}
{% endblock %}